:root {
  font-size: 6.25%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20rem;
  letter-spacing: 1rem;
  --white--: #ECECED;
  --bgBlack--: #323840;
  --gray--: #5d6775;
  background-color: var(--bgBlack--);
  line-height: 1.35;
}

p{
  color: var(--white--);
  padding: 0;
}

.top-nav{
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom: .75rem solid rgba(50, 56, 64, 0);
  transition: background-color .5s, border-bottom .5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  opacity: 0;
  animation: 1s ease-out 0s 1 navFadeIn forwards;
}

@keyframes navFadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.top-nav-links{
  display: flex;
  width: 20vw;
  justify-content: space-between;
}


.top-nav-links li{
  list-style: none;
}

.top-nav-links a{
  text-decoration: none;
  letter-spacing: 3rem;
  cursor: pointer;
  color: var(--white--);
}

.home-row{
  display: flex;
}

.home-column{
  width: 50%;
  height: 90vh;
  border-bottom: .75rem solid var(--white--);
  padding-left: 37rem;
  padding-right: 37rem;
  padding-top: 10vh;
}

#right-column{
  border-left: .75px solid var(--white--);
}

#welcome-message{
  position: absolute;
  top: 35vh;
}

#hi{
  font-size: 40rem;
  margin: 0;
}

#william{
  font-size: 60rem;
  letter-spacing: 5rem;
  font-weight: bold;
  margin: 0;
}

#quotes{
  position: absolute;
  bottom: 4vh;
  width: 35vw;
  font-size: 25rem;
  line-height: 1.8;
}

#quotes a{
  cursor: pointer;
  color: var(--white--);
  text-decoration: none;
}

@keyframes quoteFadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes quoteFadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes homeAnimate {
  0%{
    opacity: 0;
    transform: translateY(20rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0rem);
  }
}

#homeOrbit {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 12vh;
}

#nothing-message {
  position: absolute;
  bottom: 4vh;
  right: 37rem;
  text-align: right;
}

#about-page {
  opacity: 0;
}

#textParticle {
  width: 100vw;
  height: 100vh;
}

#textInput {
  background: transparent;
  border: none;
  border-bottom: 3rem solid var(--white--);
  margin-bottom: 50rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--white--);
  font-size: 50rem;
  outline: none;
}
